@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");


*{
    box-sizing: border-box;
}

body {
    background-color: #201b2c;
    color:  #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

button.voltar{
    background-color: #00ff88;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    margin: 10px;
    align-self: flex-start;
    font-weight: bold;
}


.containerDeArea{
    margin: 20px 0;
}

.containerDeArea select{
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
   -moz-appearance: none;
   
}

.containerDeArmarios{
    perspective: 1000px;
    margin-bottom: 30px;
    background-color: #2f2841;
    padding: 50px;
    border-radius: 5px;
    margin-left: 20%;
    float: right;
}

.armario{
    background-color: #00ff88;
    height: 60px;
    width: 75px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: black;
    border: 10px;
}

.armario.selecionado{
    background-color: rgb(224, 132, 10);
}

div.row small{
    font-size: large;
    padding-top: 10px;
    font-weight: bold;
}

div.row {
    text-align: center;
    
}


div.row .armario.vendido small{
    color: black;
}

.armario.vendido{
    background-color:rgb(139, 0, 0);
}

.armario.indisponivel{
    background-color: #696969;
}

.armario:nth-of-type(2){
    margin-right: 18px;
}

.armario:nth-last-of-type(2){
    margin-left: 18px;
}

ul.legendas li{
    cursor: default;
    transform: default;
}

.armario.selecionado:hover{
    cursor: pointer;
    transform: scale(1,1.3);

}

.armario.disponivel:hover{
    cursor: pointer;
    transform: scale(1,1.3);

}

.armario.indisponivel:hover{
    cursor:not-allowed;
}

.armario.vendido:hover{
    cursor: not-allowed;
}

ul.legendas p{
    font-size: 10px;
}


.lgnd{
    background-color: #77ffc0;
    height: 36px;
    width: 42px;
    margin: 2px;
    font-size: 5px;
    border-radius: 10px;
    /* border-top-right-radius: 10px;  */
    align-items: center;
}

.lgnd.vendido{
    background-color:rgb(139, 0, 0);
}

.lgnd.indisponivel{
    background-color: #696969;
}

.lgnd.selecionado{
    background-color: rgb(224, 132, 10);
}

.legendas{
    background: rgba(0,0,0,0.1);
    padding: 10px 20px;
    border-radius: 5px;
    color: #777;
   display: flex;
   
    float: left;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
   margin-left: 40px;
   margin-right: 80%;
}

.legendas li{
    display: flex;
    flex-direction: column;
}

.legendas li small{
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 3px;
    align-items: center;
    font-size: 12px;
    justify-content: center;
}


.row{
    display: flex;
}

p.text{
    margin: 5px 0;
}

p.text.span{
    color: green;
}

button{
    background-color: #00ff88;
    border-radius: 5px;
    height: 50px;
    width: 120px;
    margin: 10px;
    align-self: flex-end;
    font-weight: bold;
}

