@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");


*{
    box-sizing: border-box;
}

body {
    background-color: #2b134b;
    color:  #fff;
    display: flex;
 /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.containerDeArea{
    margin: 20px 0;
}

.containerDeArea select{
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;

   -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.containerDeArmarios{
    perspective: 1000px;
    margin-bottom: 30px;

}

.armario{
    background-color: #77ffc0;
    height: 60px;
    width: 75px;
    margin: 5px;

}

.armario.selecionado{
    background-color: rgb(224, 132, 10);
}

div.row small{
    font-size: large;
    padding-top: 10px;
    font-weight: bold;
}

div.row {
    text-align: center;
    
}

div.row img{
    width: 100%;
}

div.row .armario.vendido small{
    color: black;
}

.armario.vendido{
    background-color:rgb(139, 0, 0);
}

.armario.indisponivel{
    background-color: #696969;
}