body{
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}
body*{
	box-sizing: border-box;
}
.main-login{
	width: 100vw;
	height: 100vh;
	background:  #201b2c;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pt-esquerda-login{
	width: 50vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.pt-esquerda-login > h1{
	font-size: 3vw;
	color: #77ffc0;
}
.left-login-img{
	width: 35vw;

}

.pt-direita-login{
	width: 50vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-login{
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px 35px;
	background: #2f2841;
	border-radius: 20px;
	box-shadow: 0px 10px 40px #00000056;
}
.card-login > h1{
	color: #00ff88;
	font-weight: 800;
	margin: 0;
}
.form{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: 10px 0px;
}
.form > input{
	width: 100%;
	border: none;
	border-radius: 10px;
	padding: 15px;
	background: #514869;
	color: #f0ffffde;
	font-size: 12pt;
	box-shadow: 0px 10px 40px #00000056;
	outline: none;
	box-sizing: border-box;
}
.form > label{
	color:  #f0ffffde;
	margin-bottom: 10px;

}
.form > input::placeholder{
	color: #f0ffff94;
	margin-bottom: 10px;

}
.button-logar button{
	width: 100%;
	display:flex;
	align-items: center;
	padding: 16px 0%;
	margin-top : 10px;
	border: none;
	border-radius: 8px;
	outline: none;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 3px;
	color: #2b134b;
	background: #00ff88;
	cursor: pointer;
	box-shadow: 0px 10px 40px -12px #00ff0052;
}
.esqueci{
	color: #00ff88;
	margin: 10px;
}

.button-logar button:hover{
    background-color: #0ae9e9;
}
/* //Codigo para esconder arrows(setas) dos campos int's Erick-- */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

@media only screen and (max-width:  950px){
	.card-login{
		width: 85%;
	}
}@media only screen and (max-width:  600px){
	.main-login{
		flex-direction: column;
	}
	.pt-esquerda-login > h1{
		display: none;
	}
	.pt-esquerda-login{
		width: 100%;
		height: auto;
	}
	.pt-direita-login{
		width: 100%;
		height: auto;
	}
	.left-login-img{
		width: 50vw;
	}
	.card-login{
		width: 80%;
	}

}@media only screen and (max-width: 450px){
	.left-login-img{
		display: none;
	}
}