main {
    display: block;
    height: 100%;
    background-color: #ccc;
    width: calc(100% - 300px);
} 

main .main-content{
    padding: 30px;
    width: 100%;
    height: calc(100% - 90px);
   overflow: auto;
}

.main-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.main-content::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.main-content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.card:hover{
    border-color: #3751FF;
    cursor: pointer;
    color: #3751FF;
}
