main {
    display: block;
    height: 100%;
    background-color: #ccc;
    width: calc(100% - 300px);
} 

main .main-content{
    padding: 30px;
    width: 100%;
    height: calc(100% - 90px);
   overflow: auto;
}
.card:hover{
    border-color: #3751FF;
    cursor: pointer;
    color: #3751FF;
}
