div.flex-dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

sidebar {
    display: block;
    height: 100%;
    width: 300px;
    background-color: white;
    border: 1px solid rgba(0,0,0,.0625);
} 

main {
    display: block;
    height: 100%;
    background-color: #ccc;
    width: calc(100% - 300px);
} 

.flex-dashboard header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 90px;
    padding: 0 30px;
    border: 1px solid rgba(0,0,0,.0625);
}

sidebar .sidebar-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px ;
    height: 90px;
    border: 1px solid rgba(0,0,0,.0625);
    border-right: 0px; /*parei no 14:52 https://www.youtube.com/watch?v=0MY0B_BjQOw */
}
sidebar .sidebar-title img{
    height: 40px;
    width: 40px;
}
sidebar .sidebar-title h2{
    font-size: 16px;
    margin-top: 8px;
}
/*https://www.youtube.com/watch?v=0MY0B_BjQOw deu b.o aqui no css, ainda não encontrei o erro*/