div.flex-dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%; 
}

sidebar {
    display: block;
    height: 100%;
    width: 300px;
    background-color:rgb(54, 55, 64);
} 

main {
    display: block;
    height: 100%;
    background-color: #ccc;
    width: calc(100% - 300px);
} 


sidebar .sidebar-title{
    display: flex;
    flex-direction: column; /*usada para colocar o menu para baixo*/
    justify-content: center;
    align-items: center;
    padding: 10px 30px ;
    height: 90px;
    border: 1px solid rgba(0,0,0,.0625);
    border-right: 0px; /*parei no 14:52 https://www.youtube.com/watch?v=0MY0B_BjQOw */
}
sidebar .sidebar-title img{ /*altera tamamho da img*/
    height: 90px;
    width: 90px; 
    
}
sidebar .sidebar-title h2{ /*altera tamamho da h2/ ver depois um logo sem escrita locketec*/
    font-size: 16px;
    margin-top: -5px;
    color: black;
}
div.menu{
    border-right: 1px solid rgba(0,0,0,.0625);
}

div.menu ul{
    list-style-type:none;
    border-right: none;
}

div.menu ul li{
    border: none;
    padding: 20px 20px;/*aaltera a position dos elementos dentro do menu */
    width: 100%;
    display: flex;      /*display: flex/flex-direction:row;/align-items: center;//estão centralizando os icons */ 
    flex-direction: row;   
    align-items: center; 
    border: 1px solid rgba(15, 15, 15, 0.048);
}

div.menu ul :hover{
    /*border-left: 2px solid #6e8efb; /*barra ao lado dos nomes do menuu*/
    color: #6e8efb;
}


div.menu ul li svg{
    color: rgb(221, 226, 255);
    font-size: 25px;
}

div.menu ul li a{
    color: #72777a;
    margin-left: 20px;
    text-transform: none;
}
/*28:46*/
/*https://www.youtube.com/watch?v=0MY0B_BjQOw deu b.o aqui no css, ainda não encontrei o erro*/