@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(146, 204, 146);
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 212);
    
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #fdfff9d7;
    padding: 1rem;
}
.span-required{
    font-size:12px;
    margin: 3px 0 0 1px; 
    display: none;
    color: red;
}
/* Erro de duplo width  na div da imagem */
/* .form-image {
    width: 35rem;
} */

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
    padding: 3rem;
}

.form-header {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.login-button{
    display: flex;
    align-items: center;
}

.login-button button{
    border: none;
    background-color: #0ae9e9;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover{
    background-color:#0ae9e9;
}
.login-button a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 9rem;
    height: 0.3rem;
    background-color: #0ae9e9;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid #0ae9e9;
}

.input-box label,
.periodo-title h6{
    font-size: 0.75;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder{
    color: #000000be;
}

.periodo-group{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62;
    padding: 0 0.5rem;
}

.periodo-input{
    display: flex;
    align-items: center;
}

.periodo-input input{
    margin-right: 0.35rem;
}

.periodo-input label{
    font-size: 0.81rem;
    font-weight: 600;
    color:#000000c0;
    
}

.cadastrar-button button{
    width: 100%;
    margin-top: 0.5rem;
    border: none;
    background-color: #00a1b6;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}
.cadastrar-button button:hover{
    background-color: #6b63fff1;
}
.cadastrar-button button a{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;  
}

@media screen and (max-width:1336px) {
    .form-image{
        display: none;
    }

    .container{
        width: 50%;
    }
    .form{
        width: 100%;
    }
}


@media screen and (max-width:1069px){
    .container{
        width: 90%;
        height: auto;
    }
    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

    .periodo-input{
        margin-top: 2rem;
    }

    .periodo-group{
        flex-direction: column;
    }

    .periodo-group{
        margin-top: 00.5rem;
    }
}

@media screen and (max-width:1046px){
    .container{
        width: 90%;
        height: auto;
    }
    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

    .periodo-input{
        margin-top: 2rem;
    }

    .periodo-group{
        flex-direction: column;
    }

    .periodo-group{
        margin-top: 00.5rem;
    }
}
